<div class="light-bg">
    <div class="text-center">
        <div class="titleTop">Latest Jobs</div>
        <p class="text-muted text-center py-5">Take the next big step!</p>
    </div>
    <div class="container">
        <div class="mb-5 flex-disp" *ngIf="!isMobile">
            <div *ngFor="let item of allCat">
                <button mat-button class="btn-bg mx-2" *ngIf="cat!=item" (click)="catgoryClick(item)">{{item}}</button>
                <button mat-button class="white-color dark-bg mx-2" *ngIf="cat==item">{{item}}</button>
            </div>
        </div>

        <nz-select *ngIf="isMobile" [(ngModel)]="cat" class="w-100 mb-5" (ngModelChange)="renderData()">
            <nz-option *ngFor="let item of allCat" [nzValue]="item" [nzLabel]="item"></nz-option>
        </nz-select>

        <div class="row">
            <div *ngFor="let k of data" class="curse col-12 col-sm-12 col-md-6 col-lg-4 pb-4">
                <div class="card shadow-sm h-100" [routerLink]="['/latest-jobs',k.slug]">
                    <img class="card-img" src={{urlParse(k.image)}} alt={{k.title}} height="240px" loading="lazy" >
                    <div class="card-img-overlay">
                        <button (click)="catgoryClick(k.category)" class="btn btn-light btn-sm">{{k.category}}</button>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title h5">{{k.title | titlecase}}</h2>
                        <p class="card-text" style="font-size: small;">{{k.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 style="opacity: 0;margin: 0;">Latest {{cat}} posts</h1>
</div>