.hola {
    border: 1px solid #343a40;
    cursor: pointer;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.exam {
    display: flex;
    justify-content: center;
}

.myboot {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
}