.hola {
    border: 1px solid #343a40;
    cursor: pointer;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.exam {
    display: flex;
    justify-content: center;
}

.myboot {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
}

@media screen and (min-width: 769px)
{
    .input {
        border-right: none;
        width: 23%;
        box-shadow: none;
        height: 60px;
    }
    .input-toggle {
        border-right: none;
        width: 19%;
        box-shadow: none;
        height: 60px;
    }
    .select-style{
        width: 100%;
        padding: 0 auto;
    }
    .btnPrime {
        color: white;
        background-color: #006699;
        width: 8%;
    }
}

@media screen and (max-width: 769px)
{
    .input {
        width: 70%;
        box-shadow: none;
    }
    .btnPrime {
        color: white;
        background-color: #006699;
        width: 15%;
        display: flex;
        justify-content: center;
    }
}

.input:focus{
    box-shadow: none;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.col-auto {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}