<div class="light-bg">
    <div class="container">
        <app-job-list-filter *ngIf="loaded" [all]="data" [toggleView]="toggleView"></app-job-list-filter>
        <div class="mt-0 pb-3" style="height: auto;">
            <div *ngIf="isMobile && currJob.slug" class="mt-1 pt-3 p-2 text-primary">
                <a  (click)="goBackMobile()" class="link-primary">< Back</a>
            </div>
            
            <div class="my-2" style="display: flex;" >
                <!-- <nz-switch [(ngModel)]="toggleView" nzCheckedChildren="3 Col" nzUnCheckedChildren="2 Col" *ngIf="!isMobile" [nzDisabled]="!allJobs.length" ></nz-switch> -->
                <h1 class="text-left px-2 m-0 mt-n1 text-dark" style="font-size: large;font-weight: 500;" *ngIf="!isMobile || !currJob.slug">
                    {{header}}
                </h1>
            </div>
            <div *ngIf="!isMobile && allJobs.length" class="row">
                <div class="col-3" *ngIf="toggleView">
                    <app-job-side-bar [head1]="header" [head2]="header2"></app-job-side-bar>
                </div>
                <div class="" [ngClass]="{'col-3':toggleView,'col-4':!toggleView}">
                    <app-job-list-cards *ngIf="loaded" [item]="data" [load]="loaded" [show]="true" [toggleView]="toggleView" [isMobile]="isMobile"></app-job-list-cards>
                    <app-job-seo-part *ngIf="!toggleView" [data]="data" ></app-job-seo-part>
                </div>
                <div class="" [ngClass]="{'col-6':toggleView,'col-8':!toggleView}" >
                    <app-job-page [check]="false"></app-job-page>
                </div>
            </div>

            <div *ngIf="isMobile && allJobs.length">
                <div *ngIf="!currJob.slug">
                    <app-job-list-cards *ngIf="loaded" [item]="data" [load]="loaded" [show]="true" [toggleView]="toggleView" [isMobile]="isMobile"></app-job-list-cards>
                    <app-job-seo-part *ngIf="!toggleView" [data]="data" ></app-job-seo-part>
                </div>
                <div *ngIf="currJob.slug">
                    <app-job-page [check]="false"></app-job-page>
                    <app-job-list-cards *ngIf="loaded" [item]="data" [load]="loaded" [show]="false" [toggleView]="toggleView" [isMobile]="isMobile"></app-job-list-cards>
                    <app-job-seo-part *ngIf="!toggleView" [data]="data" ></app-job-seo-part>
                </div>
            </div>
            
            <div *ngIf="!allJobs.length" class="pb-5">
                <div *ngIf="loaded" class="h5 text-center pt-5">
                    We’re sorry we couldn’t find any jobs for your search.
                </div>
    
                <div *ngIf="loaded" class="h5 text-center" style="font-weight: 600;">
                    These tips Might help!
                </div>
                <div *ngIf="loaded" class="h5 text-center pb-5">
                    Try removing some filters, using Different keywords, and search in <br> more general area like state or country instead of city!
                </div>
                <div class="text-center py-1">
                    <p>Or Try these Popular Seraches</p>
                    <p *ngFor="let k of searchFailed"><a class="pointer link-tag" [href]="[k[1]]">{{k[0]}}</a></p>
                </div>
                <app-job-seo-part *ngIf="!toggleView" [data]="data" ></app-job-seo-part>
            </div>
        </div>
    </div>
</div>