<div class="light-bg">
    <div class="text-center mb-5">
        <div class="titleTop"> 
            Find Latest Jobs 
            <div class="pad">By <span class="blue-color">Location</span></div>
        </div>
    </div>
    <p class="text-muted text-center mb-5">New Careers in all Locations are added daily!</p>

    <div class="container">
        <div class="pb-5" *ngFor="let item of keys(allCat)">
            <a [routerLink]="['/Job-country',item]" class="link-primary h5">
                {{item}}
            </a>
            <div class="row">
                <div class="col-md-3 col-4 pt-3" *ngFor="let team of allCat[item]">
                    <a [routerLink]="['/Job-country',tell(team,item)]">{{team}}</a>
                    <hr class="mt-0">
                </div>
            </div>
        </div>
    </div>
</div>