<div *ngIf="!isMobile" style="padding: 18%;">
    <div class="wrapper">
        <h1>coming soon<span class="dot">.</span></h1>
        <p>The page is Under Costruction.</p>
        <div class="icons">
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-youtube-play"></i></a>
            <a><i class="fa fa-paper-plne"></i></a>
        </div>
    </div>
</div>

<div *ngIf="isMobile" style="padding: 50%;">
    <div class="wrapper">
        <h1>coming soon<span class="dot">.</span></h1>
        <p>The page is Under Costruction.</p>
        <div class="icons">
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-youtube-play"></i></a>
            <a><i class="fa fa-paper-pane"></i></a>
        </div>
    </div>
</div>
