<div class="jumbotron jumbotron-fluid">
    <div class="text-center" style="margin-top: 6%;">
      <img class="img-fluid ml-auto"  style="width: 100px; height: auto;" alt="Workire Circle" src="/assets/workire.png" /> 
      <h1 class="display-4 py-4" style="font-size: xxx-large;">About Workire</h1>
      <p class="lead mx-auto w-75" style="line-height: 26pt;">Workire is an emerging job site in the Gulf Region, connecting job seekers with potential employers. Launched as a vertical search engine, our website gives regular job updates to our visitors. Latest vacancies are posted every day on the platform for job seekers to grab their dream career opportunity.</p>
    </div>
</div>

<div class="mb-5" [ngClass]="{'container':!isMobile}">
    <div class="text-center" [ngClass]="{'px-3':isMobile,'mx-auto':!isMobile,'w-75':!isMobile}">
        <h2 class="" style="font-size: xx-large;">
            Vision
        </h2>
        <p class="" >
            To provide the job seekers with the best journey to their dream job.
        </p>
        <h2 class="pt-5" style="font-size: xx-large;">
            Our Mission
        </h2>
        <p class="" >
            To become the number one choice of job seekers by connecting people with their dream career opportunities.
        </p>
        <h2 class="pt-5" style="font-size: xx-large;">
            How Workire Works
        </h2>
        <p class="" >
            Whether government or private, we bring the vacancy updates from all the employment sectors. Since our website objective is to provide authentic content to our visitors, we filter the list of <a href="https://workire.com/Jobs">job opportunities</a> from direct company and other verified career websites.
        </p>
        <p class="" >
            Workire enables you to browse jobs easier by job title, skill, company or country. We cover the opportunities from all the major gulf countries including Bahrain, Iraq, Jordan, Kuwait, Qatar, Saudi Arabia and UAE.
        </p>
        <p class="" >
            Besides searching for jobs in your area, you can also get access to the best <a href="https://workire.com/career-advice/All">career advice</a> through our website. We keep a collection of blog posts that guide you in taking the best career decisions. Our easy-to-use guides deal with the major areas of job-seeking, networking, resume, interview and self-improvement.
        </p>
        <p class="" >
            We offer <a href="https://www.topresume.com/resume-writing/?pt=fhtsVLxOYDCkW" target="_blank" >professional resume writing services</a> by partnering with TopResume, one of the leading online resume builders. We assure to provide quality resumes to the job aspirants through TopResume’s team of certified professional resume writers.
        </p>
        <p class="" >
            You can avail special discounted pricing from TopResume by taking their service through our website. Not only that, you get <a href="https://www.topresume.com/resume-review/?pt=fhtsVLxOYDCkW" target="_blank">free resume review</a> from TopResume to write the prefect resume for your dream job.
        </p>
        <p class="" >
            Our association with My Interview Practice offers online <a href="https://myinterviewpractice.com/partner/workire/?bemobdata=c%3D693cf4fc-f0d9-4fbe-9e46-b54ce0fb41a0..l%3D9e7eb28b-ffad-432e-8269-aaba672c4059..a%3D0..b%3D0..e%3D%257Bworkire%257D..r%3Dhttps%253A%252F%252Fworkire.com%252F" target="_blank">mock interview practice</a> to give you the best interview experience. You can choose from a variety of job positions and attend the mock interviews to overcome the interview pressure. Your responses get reviewed by experts for your further improvement. You can choose either a plus or a premium subscription feature to avail their services.
        </p>
        <p class="" >
            Any job requires regular updation of skills to sustain in the field for a longer time. We collaborate with Udemy giving a list of online courses to help you stay updated in your job stream. Affordable and flexible, <a href="https://www.udemy.com/" target="_blank">Udemy courses</a> enable you to engage with new emerging topics of the time.
        </p>

        <p class="" >
            Job seeking during Covid age is supposed to be tough, but not when you have the perfect source to get reliable updates on job opportunities. Workire is right here for you with the same motto.
        </p>
    </div>
</div>