<mdb-navbar SideClass="navbar navbar-expand-lg pt-3 navbar-light" [containerInside]="true">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="ml-auto navbar-brand" href="/">
      <!-- Logo Image -->
      <img src="/assets/logo-black.png" title="Home" width="120" alt="Workire" class="d-inline-block align-middle mb-2">
      <!-- Logo Text -->
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links class="ml-5">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <ng-template ngFor let-item [ngForOf]="ObjectKeys(nav)" let-i="index">
        <div *ngIf="nav[item].length==1; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <li class="nav-item ml-3">
            <a class="fontStyle" href={{nav[item][0]}}>{{item}}</a>
          </li>
        </ng-template>
        <ng-template #elseBlock>
          <li class="nav-item ml-4">
            <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'" class="fontStyle" href="#">{{item}}</a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li *ngFor="let k of nav[item];let j = index" [routerLink]="[k[1]]" nz-menu-item>{{k[0]}}</li>
              </ul>
            </nz-dropdown-menu>
          </li>
        </ng-template>
      </ng-template>

    </ul>

    <!-- Links -->
    <ul class="navbar-nav ml-auto mr-n3 nav-flex-icons">
        <li class="nav-item">
          <div class="nav-link">
            <div *ngIf="saved.length!==0" class="btn-group" mdbDropdown>
              <div mdbDropdownToggle>
                <mat-icon class="blue-color">bookmark</mat-icon>
              </div>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <div *ngFor="let item of saved; let k = index" class="dropdown-item">
                    <a *ngIf="item[0]!=0" [routerLink]="['/Job',item]" >{{item}}</a>
                    <a *ngIf="item[0]==0">{{item}}</a>
                    <mat-icon *ngIf="item[0]!=0" (click)="removeJob(item)" style="box-shadow: none;">delete</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </li>
      <!-- </ng-template> -->
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>