<div class="pb-2" [ngClass]="{'container':!isMobile,'container-fluid':isMobile,'mt-5':isMobile}">
    <div class="text-center h4 font-weight-bold py-2">Recommended Jobs</div>
    <div class="d-md-inline-flex row justify-content-center">
        <div *ngFor="let item of featured; let j = index" class=" col-md-4 py-2 col-sm-12 d-flex align-items-stretch">
            <div class="card w-100 shad" [routerLink]="['/Jobs',item.Position,'search','country',item.Classification,item.AdvertiserName,0,1]">
                <div class="row">
                  <div class="col-4">
                    <img class="d-block pl-3 pt-3 pb-3 w-100" src={{urlParse(item.LogoURL,item.AdvertiserName)}} alt={{item.AdvertiserName}}>
                  </div>
                  <div class="col-8 pt-3">
                    <div class="card-block">
                      <div class="d-block font-weight-bold text-dark" style="font-size: small;">{{item.Position}}</div>
                      <div class="text-muted d-block" style="font-size: small;">{{item.AdvertiserName}}</div>
                      <div *ngIf="item.Location=='Not Specified'" class="text-muted d-block" style="font-size: small;">{{item.Country}} | {{item.EmploymentType}}</div>
                      <div *ngIf="item.Location!='Not Specified'"class="text-muted d-block" style="font-size: small;">{{item.Location}} | {{item.EmploymentType}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>       
    </div>
</div>