<ngx-json-ld [json]="schema"></ngx-json-ld>
<div class="container">
    <div class="row" style="display: flex;justify-content: center;">
        <div *ngIf="loaded" class="col-md-10 col-12 mt-5 row" style="display: flex;justify-content: center;">
            <div class="col-md-10 col-12">
                <h1 class="h1 font-weight-bold pt-2">
                    {{post.title | titlecase}}
                </h1>
                <div class="d-block-inline">
                    <div class="float-left text-muted ">
                        <a class="link-muted font-weight-bold">Workire Editor</a>
                        <p class="text-muted">{{getDate(post.addDate)}}</p>
                    </div>
                    <div class="float-right">
                        <app-share-buttons [t]="post.title"></app-share-buttons>
                    </div>
                </div>
            </div>
            <img src={{post.image}} class="img-fluid col-12" alt={{post.title}} height="auto" width="100%" loading="lazy">
            <div class="col-md-10 col-12">
                <div class="py-3">
                    <div class="text-muted">Category: {{post.category}}</div>
                    <br />
                    <div [innerHtml]="post.body" class="binder" style="font-size: medium;line-height: 22pt;"></div>
                </div>
                <div class="mt-3 row">
                    <div class="text-left col-auto">Tags : </div>
                    <div *ngFor="let k of post.KeyWord.split(',')" class="col-auto">
                        <a [routerLink]="['/career-advice','search',k]">{{k}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-12 row pt-5">
                <div class="col-12">
                    <h3 class="blue-color" style="font-weight: 550;">Written By Workire Editor</h3>
                    <p>Workire is an emerging job site, connecting job seekers with potential employers. We keep a collection of blog posts that guide you in taking the best career decisions. Our easy-to-use guides deal with the major areas of job-seeking, resume, interview, and self-improvement. Start your job search or build your resume and connect with us on Facebook, and LinkedIn!</p>
                </div>
            </div>
        </div>
        
        <hr class="col-12 m-0 p-0" />
        <div class="col-md-10 col-12">
            <div class="h4 text-left py-5">More Posts</div>
            <div class="row">
                <div *ngFor="let k of additional" class="col-12 col-sm-12 col-md-6 col-lg-6 pb-4">
                    <div class="card shadow-sm h-100 pointer" [routerLink]="['/career-advice',k.BlogUrl]">
                        <img class="card-img" src={{urlParse(k.image)}} alt={{k.title}} height="240px" loading="lazy">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">{{k.category}}</a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title h5">{{k.title | titlecase}}</h2>
                            <p class="card-text" style="font-size: small;">{{k.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>