.img-fluid {
  border-radius: 25px;
}

.text-color {
  color: #8c8b99;
}

.card {
  border-radius: 20px;
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width : 600) {
  .col {
    margin: 0;
    padding: 0;
  }

  .col-12 {
    margin: 0;
    padding: 0;
  }
}

p {
  padding-bottom: 15%;
}

.hori-center {
  margin: 0 auto;
}