:focus {
    outline: none;
  }
  
  .content {
    width: auto;
    position: relative;
  }
  
  .input {
    width: 100%;
    border: 0;
    padding: 4px 4px;
    border-bottom: 1px solid #929fba;
  }
  
  .input ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
  }
  
  .input:focus ~ .border {
    width: 100%;
    transition: 0.5s;
  }

.border {
      border: 1px solid #4285F4!important;
  }