<div *ngIf="!isMobile" style="padding: 18%;">
    <div class="wrapper">
        <h1 class="text-center">Contact Us<span class="dot">.</span></h1>
        <p>Drop Us an email at <a href="mailto:info@workire.com" target="_blank">info@workire.com</a> and we'll get back to as soon as possible, Or reach out through social media platforms</p>
        <div class="icons">
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-youtube-play"></i></a>
            <a><i class="fa fa-paper-plne"></i></a>
        </div>
    </div>
</div>

<div *ngIf="isMobile" style="padding: 60%;">
    <div class="wrapper">
        <h1>Contact Us<span class="dot">.</span></h1>
        <p>Drop Us an email at <a href="mailto:info@workire.com" target="_blank">info@workire.com</a> and we'll get back to as soon as possible, Or reach out through social media platforms</p>
        <div class="icons">
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-youtube-play"></i></a>
            <a><i class="fa fa-paper-pane"></i></a>
        </div>
    </div>
</div>