<div class="light-bg">
    <div class="text-center mb-5">
        <div class="titleTop"> 
            Find Latest Jobs 
            <div class="pad">By <span class="blue-color">Category</span></div>
        </div>
    </div>
    <p class="text-muted text-center mb-5">New Careers in all categories are added daily!</p>
    <div class="container">
        <div class="row pb-5 pt-2">
            <div class="col-md-3 col-6" *ngFor="let team of allCat">
                <a [routerLink]="['/Job-category',team.SEO_NAME]">{{team.SEO_NAME}}</a>
                <hr class="mt-0">
            </div>
        </div>
    </div>
</div>