<!-- <div class="py-4 px-1" *ngIf="seoObject.length && valid">
    <div class="py-2 h5">Frequently Asked Questions</div>
    <div *ngFor="let k of seoObject; let i = index">
        <div class="row pointer noselect" (click)="showClick(i)">
            <h3 class="weight-heading col-11">{{k.header}}</h3>
            <mat-icon class="pointer" *ngIf="!k.show">expand_more</mat-icon>
            <mat-icon class="pointer" *ngIf="k.show">expand_less</mat-icon>
        </div>
        <p *ngIf="k.show" [innerHtml]="k.description" ></p>
    </div>
</div> -->
<!-- We are not showing FAQs anymore! Login is still there! This component also contains login for meta and title, 
    so cannot be removed. -->