.weight-heading {
    font-weight: 550;
}

.link-tag {
    color: rgb(74, 74, 243);
    width: 100%;
}

.link-tag:hover {
    color: blue;
    text-decoration: underline;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}