<mat-card class="mb-3 mat-elevation-z0 color-hover pointer" *ngFor="let job of jobs" (click)="cardClick(job.slug)">
  <mat-card-header class="no-pad">
    <img mat-card-avatar src={{urlParse(job.LogoURL,job.AdvertiserName)}} loading="lazy" />
    <mat-card-title style="font-size:medium;">{{job.Position}}</mat-card-title>
    <mat-card-subtitle class="no-pad">
      <p *ngIf="!toggleView" class="m-0">{{job.AdvertiserName}}</p>
      <p class="m-0">{{(job.Location==='Not Specified')?job.Country:job.Location}} | {{dateParse(job.PostDate)}}</p>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div style="display: flex;justify-content: center;">
  <nz-pagination [nzPageIndex]="page" [nzTotal]="count" [nzSimple]="true" (nzPageIndexChange)="pageChange($event)" class="pb-3"></nz-pagination>
</div>

<app-job-alert-box *ngIf="!toggleView"></app-job-alert-box>